<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bun.popupnotificationsfree"
    android:versionCode="6"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FLAG_SHOW_WHEN_LOCKED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.bun.popupnotificationsfree.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="BannerService" />

        <activity
            android:name="com.bun.popupnotificationsfree.NotificationActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SampleTheme" >
        </activity>
        
        <activity
            android:name="com.bun.popupnotificationsfree.FeedbackActivity"
            android:excludeFromRecents="true"
            android:noHistory="true" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
             >
        </activity>
        
        <activity
            android:name="com.bun.popupnotifications.PopupActivity"
            android:excludeFromRecents="true"            
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.bun.popupnotificationsfree.MuteSelectedAppActivity"
            android:label="Muted Apps List" >
        </activity>
        <activity
            android:name="com.bun.popupnotificationsfree.BlockedAppsActivity"
            android:label="Blocked Apps" >
        </activity>
        <activity android:name="com.bun.popupnotificationsfree.TimePreference" >
        </activity>
        <activity
            android:name="AppSelectionActivity"
            android:label="@string/app_name"
            android:noHistory="true"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bun.popupnotificationsfree.NotificationPreferenceActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"  >
        </activity>
        
        <service android:name="com.bun.popupnotificationsfree.NewNotificationService"
                 android:label="@string/popup_not_service"
                 android:enabled="@bool/is_new_service_enabled"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.bun.popupnotificationsfree.NotificationService"
            android:enabled="@bool/is_service_enabled"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <receiver
            android:name="com.bun.popupnotificationsfree.NotificationReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.bun.popupnotification.NOTIFICATION_CHANGED" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>